*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Poppins", serif;
}
:root {
  --primary: #f5deb3;
  --black: #000501;
  --white: #e1dee9;
  --grey: #e1dee994;
  --blue: #3772ff;
  --red: #c70039;
  --redHover: #c7003891;
  --greenYellow: #adff2f;
  --lightGreenYellow: #acff2fa1;
  --beige: #f5deb3;
  --cardBg-color: #1a1a1a;
  --primaryCard-color: #2a9d8f;
  --secondaryCard-color: #e76f51;
}

/* lavander white E1DEE9 */
/* new black: #000501; */
/* old black 0f0f0f  */
/* C70039  red */
/* color: greenyellow; */
