*,::before,::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
}
:root {
  --primary: #f5deb3;
  --black: #0f0f0f;
  --white: #fff;
  --red:#C70039;
}

/* C70039  red */